body {
    margin: 0;
    color: #969696;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #282828;
}

a {
    text-decoration: none;
    color: #969696;
}

button {
    border-style: none;
    cursor: pointer;
}

.account_container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: 0 auto;
}

.account_div {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #363636;
    padding: 20px;
    width: 100%;
}




.upper_account_text {
    font-size: 26px;
    color: #fff;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0px;
}

.upper_username_text {
    font-size: 22px;
    color: #00897b;
    margin-top: 10px;
    margin-bottom: 15px;
}

.account_info {
    display: flex;
    flex-direction: column;

}

.account_info_inner {
    font-size: 20px;
    color: #00897b;
    margin-top: 7px;
    margin-bottom: 7px;
}

.account_info_field {
    font-size: 20px;
    color: #fff;
    margin: 7px;

}

.username_upper {
    font-size: 22px;
    color: #fff;
    margin-top: 10px;

}

.admin_panel_div {
    display: flex;
}

.admin_panel_button {
    background-color: #00897b;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.update_password_div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.update_password_title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 2px;
}

.update_password_form {
    display: flex;
    flex-direction: column;
    width: 25%;
    ;
}

.password_input_label {
    color: #00897b;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.password_input {
    background-color: #363636;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px 13px 8px 13px;
    color: #00897B;
    border: 1px solid #00897B;
    width: 70%;

}

.update_password_button {
    margin-top: 15px;
    width: 45%;
    padding: 8px 14px 8px 14px;
    font-size: 16px;
    background-color: #00897B;
    color: #fff;
    border-radius: 5px;
}

.update_password_button:hover {
    background-color: #fff;
    color: #00897B;
    border: 1px solid #00897B;
    transition: all 0.7s;
}

.error_message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.users_table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


.users_table_body {
    background-color: #363636;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}


.files_div {
    background-color: #363636;
    margin-top: 20px;
}

.files_table {
    padding: 10px;
    width: 100%;
}


.users_table_head {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.user_table_th {
    padding: 5px;
}

.users_table_inner_th {
    background-color: #303030;
    border-bottom: 2px solid #282828;
    font-size: 18px;
}

.users_table_inner {
    border-bottom: 2px solid #282828;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.users_table_inner:hover {
    background-color: #282828;
    transition: all 0.7s;
}

.user_table_td {
    width: 18%;
    /* padding-top: 8px;
    padding-bottom: 8px; */
    padding: 8px;
}

.user_details_info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.confirm_button {
    background-color: #00897b;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
}

.confirm_button:hover {
    background-color: #fff;
    color: #00897b;
    transition: all 0.7s;
}

.delete_button {
    background-color: red;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
}

.delete_button:hover {
    background-color: #fff;
    color: red;
    transition: all 0.7s;
}

.user_details_back_button,
.user_details_confirm_button,
.user_details_delete_button,
.user_details_reset_password_button {
    background-color: #00897b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.7s ease;
    width: 10%;

}

.user_details_delete_button:hover,
.user_details_back_button:hover,
.user_details_confirm_button:hover,
.user_details_reset_password_button:hover {
    background-color: #005a4b;
}

.user_details_account_confirm_alert {
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
}

.user_details_confirm_button {
    background-color: #009c68;
}


.user_details_delete_button {
    background-color: #C40C0C;
}

.user_details_delete_button:hover {
    background-color: #7a0b0b;
}

.user_details_reset_password_button {
    font-size: 14px;
}

.reset_password_popper {
    padding: 16px;
    border-radius: 10px;
    border: 2px solid #282828;
    background-color: #303030;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: #fff;
}

.reset_password_button{
    border: 1px solid #00897B;
    background-color: #363636;
    font-size: 16px;
    color: #00897B;
    padding: 8px 13px 8px 13px;
    border-radius: 5px;
    margin-top: 4px;
}

.reset_password_button:hover{
    background-color: #00897B;
    color: #fff;
    transition: all 0.7s;
}
