.error_div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
}

.error {
    font-size: 24px;
    color: #00897b;
}

.error_image {
    text-align: center;
}

.return_button {
    background-color: #00897b;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin: 20px auto;
    width: 150px;
    border: 2px solid #00897b;
}

.return_button:hover {
    background-color: #fff;
    color: #00897b;
    transition: all 0.7s;
    border: 2px solid #00897b;
}
