body {
    margin: 0;
    color: #969696;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #282828;
}

a {
    text-decoration: none;
    color: #969696;
}

button {
    border-style: none;
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.upper_div {
    margin: 25px 10px 25px 10px;
    display: flex;
    flex-direction: column;
}

.upper_info {
    font-size: 22px;
    color: #00897B;
    text-align: right;
    display: block;
}

.upper_control_button {
    color: #fff;
    font-size: 16px;
    cursor: pointer;


}

.upper_control_button:hover {
    color: #00897B;
    transition: all 0.5s;
}

.search_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search_bar {
    background-color: #363636;
    border-radius: 10px;
    width: 90%;
    font-size: 18px;
    padding: 8px 13px 8px 13px;
    color: #00897B;
    margin: 5px;
}

.search_button {
    background-color: #00897b;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;

    width: 80px;
    border: 2px solid #00897b;
}

.search_button:hover {
    background-color: #fff;
    color: #00897b;
    transition: all 0.7s;
    border: 2px solid #00897b;
}

.search_error {
    display: flex;
    margin: 20px;
    /* display: none; */
}

.search_error_text {
    display: block;
    color: red;
    font-size: 20px;
    text-align: center;
}

.upload_div {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.upload_icon {
    width: 32px;
    cursor: pointer;
    margin-left: 20px;
}

.upload_input {
    display: none;
}

.file_upload_label {
    color: #00897B;
    border: 2px solid #00897B;
    padding: 8px 13px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.file_upload_label:hover {
    background-color: #00897B;
    color: #fff;
    transition: all 0.5s;
}

.selected_files {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.selected_file {
    margin-top: 5px;
    color: #555;
}


.files_div {
    background-color: #363636;
    margin-top: 20px;
}

.files_table {
    padding: 10px;
    width: 100%;
}


.download_button {
    cursor: pointer;
    color: #fff;
}

.download_button:hover {
    color: #00897B;
    transition: all 0.5s;
}

.columns_head {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.row_icon {
    width: 32px;
    margin: 0 auto;
}

/* .files_table_inner {} */

.files_table_inner:hover {
    background-color: #414040;
}

.folder_row:hover {
    background-color: #6b6b6b;
    cursor: pointer;
}

.search_form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.back_button_div {
    margin-top: 10px;
}

.back_button {
    background-color: #00897B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.back_button:hover {
    background-color: #fff;
    color:#00897B;
    transition: background-color 0.7s ease;
}